:root {
  --font-family: "Raleway", sans-serif;
  --second-family: "Playfair Display", sans-serif;
  --color: #000;
}
body{
  background-color: #FFFFFF;
}

.top-menu {
  padding: 20px;
}

.menu-main {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}

.menu-main li {
  display: inline-block;
}

.menu-main a {
  padding-left: 20px;
  font-size: 18px;
  font-family: 'Arimo', sans-serif;
  font-weight: 800;
  color: #000;
  text-decoration: underline #4BA87D;
  text-decoration-thickness: 5px; 
}

.style_div{
  position: relative;
  width: 489px;
  height: 317px;
  top: 22px;
}
.main_div{
  width: 1088px;
  height: 383px;
  position: right;
  margin-left: auto;
  margin-right: auto;

  background-image: url('../images/photohero@2x.jpg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
.style1{
  font-weight: 900;
  font-size: 59px;
  line-height: 120%;
  color: #000;
  margin: 0;

  
}
.style2{
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 19px;
  line-height: 137%;
  color: var(--color);
  
}
.style_absolute{
  width: 680px;
  height: 383px;
  position: absolute;
  float: right;
  right: 205;
  margin-left: 408px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #000;
}
.green-button{
  background-color: #4BA87D; 
  color: #FFFFFF;
  width: 200px;
  height: 65px;
  border: none;
  float: left;
  width: 200px;
  height: 65px;
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 21px;
  line-height: 119%;
  letter-spacing: 0.05em;
  text-align: center;
}
.this-button {
  border: 4px solid #4ba87d;
  width: 200px;
  height: 65px;
  float: right;
  box-sizing: border-box;
  text-align: center;
  line-height: 250%;
  font-size: 21px;
  font-family: var(--font-family);
  font-weight: 900;
  letter-spacing: 0.05em;
  color: #fff;
}
.button_style{
  color: #4ba87d;
  text-decoration: none;
  display: inline-block;
}
.m_video{
  width: 944px;
  height: 531px;
  margin-top: 209px;
  margin-left: auto;
  margin-right: auto;
}
.two_content{
  display: flex;
  width: 1098px;
  height: 533px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  
}
.cont1{
  width: 320px;
  height: 449px;
  font-family: var(--font-family);
}
.cont2{
  width: 320px;
  height: 445px;
  margin: 35px;
  font-family: var(--font-family);
}
.cont3{
  margin-top: auto;
  width: 365px;
  height: 324px;
  font-family: var(--font-family);
}

.parent{
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  color: #000;
}
.parent2{
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 19px;
  line-height: 137%;
  color: #000;
}
h2{
  font-family: var(--second-family);
  font-weight: 900;
  font-size: 38px;
  color: #000;
  line-height: 109%;
}
.three_content{
  width: 1089px;
  height: 530px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
}

.sector3{
position: relative;
top: centre;
}
.cektor1{
  position: relative;
}
.cektor2{
  position: relative;
}
.cektor3{
  position: relative;
}
svg{
  fill: #caeac7;
  position: absolute;
  top: 1700px;
}